* {
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background: #aaa;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container{
    background: rgb(50, 52, 53);
    width:  400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.results{
    background: rgb(161, 175, 118);
    border-radius: 10px;
    border: 2px solid black;
    padding: 16px;
    height:20%;
    margin-bottom: 32px;
    font-size: 48px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.numPad{

    width: 100%;
    height: 80%;
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.section1, .section2, .section3{
    flex:1;
    display: flex;
    gap: 12px;
}


.section4{
    display: flex;
    gap: 12px;
    flex:2 0 0}

.numPad button{ 
    flex:1;
    border-radius: 120px;
    background: rgb(88, 88, 91);
    color:white;
    border: none;
    font-size: 24px;

}

.section1 button{
    background: rgb(17, 12, 14);
}

.leftNumPad{
    flex: 3 1 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.leftNumPad div{
    display:flex;
    flex:1;
    gap: 12px;
}


.equalButton{
    flex: 1 1 0;
    display: flex;
    gap: 12px;
}
.equalButton button{
    background: rgb(241, 92, 42);
}


